<div class="container pad-top">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- 생략 -->
            <h3>버튼 클릭 시 입력데이터와 파일 전송</h3>
            <div class="example">
                <form role="form" name="uploadForm">
                    <div class="form">
                        <input type="file" ngf-select="onFileSelect2($files)">
                        <div class="col-xs-offset-5 col-xs-2">
                            <!-- 버튼 클릭시 send 메소드 호출 -->
                            <button type="button" class="btn btn-default" ng-click="send()" ng-disabled="selectedFile == undefined">업로드</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>

  <table class="table entitytable">
      <tr ng-show="datas">
      	<td><strong>#</strong></td>
        <td><strong>이름</strong></td>
        <td><strong>이메일</strong></td>
      </tr>
      <tr ng-repeat="data in datas">
          <td>{{data.num}}</td>
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
      </tr>
  </table>
    <!-- error message-->
  <div class="alert alert-danger margin-top-2" ng-show="message">데이터가 없습니다.</div>
</div>
